- host = 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/39132/'
	
.invitation
	.envelope
		.mask: .card
			.face.front
				h1
					img(src=host + 'poke-logo.svg')
					span.extrude Invitation Card
			.face.back
				img(src=host + "poke-peeps.png")
	.flap
	button You're Invited!